APP_NAME="Crawlers in Waiting"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://crawlersinwaiting.com

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_DATABASE=ciw
DB_USERNAME=ciw
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root

TRUSTED_PROXIES=*
SESSION_SECURE_COOKIE=true

ADMIN_EMAIL=admin@crawlersinwaiting.com

SOCIAL_FACEBOOK=
SOCIAL_TWITTER=
SOCIAL_INSTAGRAM=
ADMIN_PASSWORD=changeme

MAIL_MAILER=log
MAIL_HOST=
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=hello@crawlersinwaiting.com
MAIL_FROM_NAME="Crawlers in Waiting"

PODCAST_TITLE="Crawlers in Waiting"
PODCAST_DESCRIPTION="A Dungeon Crawler Carl read-along podcast. We read the books so you don't have to. (Read the books.)"
PODCAST_AUTHOR="Espi & Skys"
PODCAST_EMAIL=hello@crawlersinwaiting.com
PODCAST_CATEGORY="TV & Film"
PODCAST_LANGUAGE=en
PODCAST_EXPLICIT=false
